/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@font-face {
  font-family: Fbmw;
  src: url(/Font/BMW.woff2);
}
*{
  font-family: Fbmw;
}
